:root {
  --link: #007fff;
  --error: #ff0000;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #636d7e;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

/* 禁止图片拖拽 */
img {
  -webkit-user-drag: none !important;
}

/* 文本不可选中 */
.no-select {
  user-select: none;
}

/* 文本溢出省略 */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
