:root {
  --link: #007fff;
  --error: #f5222d;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #636d7e;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: middle;
}

/* 禁止图片拖拽 */
img {
  -webkit-user-drag: none !important;
}

/* 文本不可选中 */
.no-select {
  user-select: none !important;
}

/* 文本溢出省略 */
.ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* 隐藏滚动条 */
.no-scrollbar {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
