::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(239, 239, 239);
}

::-webkit-scrollbar-thumb {
    background: #bfbfbf;
}

::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

::-webkit-scrollbar-corner {
    background: #bfbfbf;
}

:root {
    --link: #007fff;
    --pink: #FF6699;
    --text2: #61666d;
    --icon: #9499a0;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #636d7e;
}

* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
}

.a-link {
    text-decoration: none;
    color: var(--link);
    cursor: pointer;
}

.el-form-item {
    align-items: center;
}

.container-body {
    margin: 0px auto;
    padding-top: 5px;
}

.el-button {
    .iconfont::before {
        margin-right: 5px;
    }
}